* {
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

body {
   overflow-x: hidden;
}

html{
   scroll-behavior: smooth;
}

.main-container {
   max-width: 1200px;
   margin: auto;
}

#stars {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   background: linear-gradient(210deg, rgb(20, 19, 38) 0%, rgb(18, 33, 171) 100%);
   font-family: "Orbitron", sans-serif;
   z-index: 1;
}

#canvasBackground {
   position:absolute;
   top: 0;
   left: 0;
}

::-webkit-scrollbar {
   width: 10px;
 }
 
 ::-webkit-scrollbar-track {
   background-color: transparent;
 }
 
 ::-webkit-scrollbar-thumb {
   background-color: #c9c9c9;
   
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background-color: #b3b3b3;
 }
 ::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 6px; 
   border: 3px solid #ffffff;
   height: 10;
 }

 .scroll-down {
   height: 50px;
   width: 30px;
   border: 2px solid white;
   position: absolute;
   left: 50%;
   bottom: 20px;
   border-radius: 50px;
   cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
   content: "";
   position: absolute;
   top: 20%;
   left: 50%;
   height: 10px;
   width: 10px;
   transform: translate(-50%, -100%) rotate(45deg);
   border: 2px solid white;
   border-top: transparent;
   border-left: transparent;
   animation: scroll-down 1.8s ease-in-out infinite;
}

.scroll-down::before {
   top: 30%;
   animation-delay: 0.3s;
   /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
   0% {
       /* top:20%; */
       opacity: 0;
   }

   30% {
       opacity: 1;
   }

   60% {
       opacity: 1;
   }

   100% {
       top: 90%;
       opacity: 0;
   }
}

/* waves */
.ocean {
   height: 80px; /* change the height of the waves here */
   width: 100%;
   overflow-x: hidden;
   position: relative; /* Add relative positioning */
}

.wave {
   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23e5e7eb'/%3E%3C/svg%3E");
   position: absolute; /* Change to absolute positioning */
   width: 200%;
   height: 100%;
   animation: wave 20s -3s linear infinite;
   transform: translate3d(0, 0, 0);
   opacity: 0.8;
}

.wave:nth-of-type(2) {
   bottom: 0;
   animation: wave 20s linear reverse infinite;
   opacity: 0.5;
}

.wave:nth-of-type(3) {
   bottom: 0;
   animation: wave 20s -1s linear infinite;
   opacity: 0.5;
}

@keyframes wave {
   0% {transform: translateX(0);}
   50% {transform: translateX(-25%);}
   100% {transform: translateX(-50%);}
}

/* under waves */


.ocean2 {
   height: 80px; /* change the height of the waves here */
   width: 100%;
   overflow-x: hidden;
   position: relative; /* Add relative positioning */
   transform: rotateX(180deg);
}

.wave2 {
   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23e5e7eb'/%3E%3C/svg%3E");
   position: absolute; /* Change to absolute positioning */
   width: 200%;
   height: 100%;
   opacity: 0.8;
}

/* Első hullám */
.wave2:nth-of-type(1) {
   bottom: 0;
   animation: wave1 20s -3s linear infinite;
}

/* Második hullám */
.wave2:nth-of-type(2) {
   bottom: 0;
   animation: wave2 20s linear reverse infinite;
}

/* Harmadik hullám */
.wave2:nth-of-type(3) {
   bottom: 0;
   animation: wave3 20s -1s linear infinite;
}

@keyframes wave1 {
   0% {transform: translateX(-50%);}
   50% {transform: translateX(-25%);}
   100% {transform: translateX(0);}
}

@keyframes wave2 {
   0% {transform: translateX(-50%);}
   50% {transform: translateX(-25%);}
   100% {transform: translateX(0);}
}

@keyframes wave3 {
   0% {transform: translateX(-50%);}
   50% {transform: translateX(-25%);}
   100% {transform: translateX(0);}
}